import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pymongo import MongoClient, UpdateOne
from src.mongo_functions import insert_object
from configuration.config import data
from src.mongo_functions import *
from src.categ_functions import *
from src.display_functions import *
from src.lists import categories_expenses, unique_categories, unique_subcategories, subcategories_expenses, cate_subcategories, fixed_costs_table
from src.visualization import category_plot, subcategory_plot
from keys.bank import *